*.log
*.o
*.old
*~
*.deps/
*.rej
*.orig
/autom4te.cache/
Makefile
Makefile.in
aclocal.m4
bandwidthd
compile
conf.c
config.guess
config.h
config.h.in
config.status
config.sub
configure
depcomp
install-sh
lexer.c
missing
parser.c
parser.h
stamp-h1
ylwrap
data/bandwidthd.conf
